body {
    margin: 0;
    padding: 16px;
    background-color: #111;
    color: #eee;
    font-family: monospace;
    font-size: 12pt;
}

pre {
    margin: 0;
    padding: 16px;
    border: 1px solid rgb(201, 164, 164);
    background-color: #222;
}
